BasedOnStyle: LLVM
Language: C
IndentWidth: 2
ColumnLimit: 100
UseTab: Never
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
InsertBraces: true
